backups/备份20260428_01.zip
backups/备份20260428_02.zip
backups/备份20260428_03.zip
backups/备份20260428_04.zip
backups/备份20260428_05.zip
backups/备份20260428_06.zip
backups/备份20260428_07.zip
backups/备份20260428_08.zip
backups/备份20260428_09.zip
logs/error_log.txt
logs/output_log.txt
logs/updater_log.txt
config/ai_config.json
config/groups_meta.json
config/settings.json
config/translate_config.json
update-proxy.js
.gitignore
